* {
    color: #fff;
}
body {
    font-family: Tinos;
    margin: 0;
    padding: 0;

    background-image: url(../../asset/background.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input,
textarea {
    font-family: Tinos;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

header {
    color: #fff;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    font-size: 22px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

.content {
    padding-top: 150px !important;
}
